/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hold_tap_mo_kp: hold_tap_mo_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MO_KP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };

        hold_tap_kp_kp: hold_tap_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };

        t_key: t_key {
            compatible = "zmk,behavior-tap-dance";
            label = "T_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL T>, <&kp T>;

            tapping-term-ms = <80>;
        };

        hold_tap_kp_kr: hold_tap_kp_kr {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_KR";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
            bindings = <&kp>, <&key_repeat>;
        };

        repeat_key: repeat_key {
            compatible = "zmk,behavior-tap-dance";
            label = "REPEAT_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kr LCTRL 0>, <&key_repeat>;

            tapping-term-ms = <80>;
        };

        a_key: a_key {
            compatible = "zmk,behavior-tap-dance";
            label = "A_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL A>, <&kp A>;

            tapping-term-ms = <80>;
        };

        r_key: r_key {
            compatible = "zmk,behavior-tap-dance";
            label = "R_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL R>, <&kp R>;

            tapping-term-ms = <80>;
        };

        s_key: s_key {
            compatible = "zmk,behavior-tap-dance";
            label = "S_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL S>, <&kp S>;

            tapping-term-ms = <80>;
        };

        g_key: g_key {
            compatible = "zmk,behavior-tap-dance";
            label = "G_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL G>, <&kp G>;

            tapping-term-ms = <80>;
        };

        q_key: q_key {
            compatible = "zmk,behavior-tap-dance";
            label = "Q_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL Q>, <&kp Q>;

            tapping-term-ms = <80>;
        };

        w_key: w_key {
            compatible = "zmk,behavior-tap-dance";
            label = "W_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL W>, <&kp W>;

            tapping-term-ms = <80>;
        };

        f_key: f_key {
            compatible = "zmk,behavior-tap-dance";
            label = "F_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL F>, <&kp F>;

            tapping-term-ms = <80>;
        };

        p_key: p_key {
            compatible = "zmk,behavior-tap-dance";
            label = "P_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL P>, <&kp P>;

            tapping-term-ms = <80>;
        };

        b_key: b_key {
            compatible = "zmk,behavior-tap-dance";
            label = "B_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL B>, <&kp B>;

            tapping-term-ms = <80>;
        };

        z_key: z_key {
            compatible = "zmk,behavior-tap-dance";
            label = "Z_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL Z>, <&kp Z>;

            tapping-term-ms = <80>;
        };

        x_key: x_key {
            compatible = "zmk,behavior-tap-dance";
            label = "X_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL X>, <&kp X>;

            tapping-term-ms = <80>;
        };

        c_key: c_key {
            compatible = "zmk,behavior-tap-dance";
            label = "C_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL C>, <&kp C>;

            tapping-term-ms = <80>;
        };

        d_key: d_key {
            compatible = "zmk,behavior-tap-dance";
            label = "D_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL D>, <&kp D>;

            tapping-term-ms = <80>;
        };

        v_key: v_key {
            compatible = "zmk,behavior-tap-dance";
            label = "V_KEY";
            #binding-cells = <0>;
            bindings = <&hold_tap_kp_kp LCTRL V>, <&kp LS(V)>;

            tapping-term-ms = <80>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &q_key  &w_key  &f_key   &p_key     &b_key         &kp J           &kp L          &kp U      &kp Y    &kp SEMICOLON  &none
&none  &a_key  &r_key  &s_key   &t_key     &g_key         &kp M           &kp N          &kp E      &kp I    &kp O          &none
&none  &z_key  &x_key  &c_key   &d_key     &v_key         &kp K           &kp H          &kp COMMA  &kp DOT  &kp SQT        &none
                       &kp TAB  &kp SPACE  &repeat_key    &kp LEFT_SHIFT  &kp BACKSPACE  &kp ENTER
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &to 0     &to 2   &trans  &trans
            >;
        };

        layer_2 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &to 1     &to 0   &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &none
                       &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
