/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hold_tap_mo_kp: hold_tap_mo_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MO_KP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };

        hold_tap_kp_kp: hold_tap_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };

        hold_tap_tog_kr: hold_tap_tog_kr {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_TOG_KR";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&tog>, <&key_repeat>;
        };

        hold_tap_kp_kr: hold_tap_kp_kr {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_KR";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&key_repeat>;
        };

        sticky_key: sticky_key {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY";
            bindings = <&kp>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <3000>;
        };

        hold_tap_sk_kp: hold_tap_sk_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_SK_KP";
            bindings = <&sticky_key>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <250>;
            flavor = "tap-preferred";
        };

        hold_tap_kp_sk: hold_tap_kp_sk {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_SK";
            bindings = <&kp>, <&sticky_key>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        hold_tap_tog_kp: hold_tap_tog_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_TOG_KP";
            bindings = <&tog>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &hold_tap_kp_kp K_CANCEL Q  &hold_tap_kp_kp K_CANCEL W  &hold_tap_kp_kp K_CANCEL F    &hold_tap_kp_kp K_CANCEL P      &hold_tap_kp_kp K_CANCEL P               &hold_tap_kp_kp K_CANCEL J  &hold_tap_kp_kp K_CANCEL L          &hold_tap_kp_kp K_CANCEL U      &hold_tap_kp_kp K_CANCEL Y       &hold_tap_kp_kp K_CANCEL SEMI  &none
&none  &hold_tap_kp_kp K_CANCEL A  &hold_tap_kp_kp K_CANCEL R  &hold_tap_kp_kp K_CANCEL S    &hold_tap_mo_kp 3 T             &hold_tap_mo_kp 6 G                      &hold_tap_kp_kp LCTRL M     &hold_tap_kp_kp LCTRL N             &hold_tap_kp_kp LCTRL E         &hold_tap_kp_kp LCTRL I          &hold_tap_kp_kp K_CANCEL O     &none
&none  &hold_tap_kp_kp K_CANCEL Z  &hold_tap_kp_kp K_CANCEL X  &hold_tap_kp_kp K_CANCEL C    &hold_tap_kp_kp K_CANCEL D      &hold_tap_kp_kp K_CANCEL V               &hold_tap_kp_kp K_CANCEL K  &hold_tap_kp_kp K_CANCEL H          &hold_tap_kp_kp K_CANCEL COMMA  &hold_tap_kp_kp K_CANCEL PERIOD  &hold_tap_kp_kp K_CANCEL SQT   &none
                                                               &hold_tap_kp_kp K_CANCEL TAB  &hold_tap_kp_kp K_CANCEL SPACE  &hold_tap_kp_sk LEFT_SHIFT LEFT_SHIFT    &hold_tap_kp_kr K_CANCEL 0  &hold_tap_kp_kp K_CANCEL BACKSPACE  &hold_tap_kp_kp K_CANCEL ENTER
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none                         &none                     &none                            &none                       &none                               &none                           &none  &none  &none
&none  &none  &none  &none                         &none                     &none                            &none                       &none                               &none                           &none  &none  &none
&none  &none  &none  &none                         &none                     &none                            &none                       &none                               &none                           &none  &none  &none
                     &hold_tap_kp_kp K_CANCEL TAB  &hold_tap_tog_kp 2 SPACE  &hold_tap_kp_sk LSHIFT LSHIFT    &hold_tap_kp_kr K_CANCEL 0  &hold_tap_kp_kp K_CANCEL BACKSPACE  &hold_tap_kp_kp K_CANCEL ENTER
            >;
        };

        layer_2_lock {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_2_temp {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none                         &none                     &none                                    &none                       &none                               &none                           &none  &none  &none
&none  &none  &none  &none                         &none                     &none                                    &none                       &none                               &none                           &none  &none  &none
&none  &none  &none  &none                         &none                     &none                                    &none                       &none                               &none                           &none  &none  &none
                     &hold_tap_kp_kp K_CANCEL TAB  &hold_tap_tog_kp 5 SPACE  &hold_tap_kp_sk LEFT_SHIFT LEFT_SHIFT    &hold_tap_kp_kr K_CANCEL 0  &hold_tap_kp_kp K_CANCEL BACKSPACE  &hold_tap_kp_kp K_CANCEL ENTER
            >;
        };

        layer_3_lock {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_3_temp {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer_2_lock {
            if-layers = <2>;
            then-layer = <1>;
        };

        layer_2_temp {
            if-layers = <3>;
            then-layer = <1>;
        };

        layer_3_lock {
            if-layers = <5>;
            then-layer = <4>;
        };

        layer_3_temp {
            if-layers = <6>;
            then-layer = <4>;
        };
    };
};
