/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hold_tap_mo_kp: hold_tap_mo_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_MO_KP";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };

        hold_tap_kp_kp: hold_tap_kp_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <250>;
        };

        hold_tap_tog_kr: hold_tap_tog_kr {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_TOG_KR";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&tog>, <&key_repeat>;
        };

        hold_tap_kp_kr: hold_tap_kp_kr {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_KP_KR";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&key_repeat>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &hold_tap_kp_kp LCTRL Q  &hold_tap_kp_kp LCTRL W  &hold_tap_kp_kp LCTRL F  &hold_tap_kp_kp LCTRL P  &hold_tap_kp_kp LCTRL P    &hold_tap_kp_kp LCTRL J  &hold_tap_kp_kp LCTRL L  &hold_tap_kp_kp LCTRL U      &hold_tap_kp_kp LCTRL Y       &hold_tap_kp_kp LCTRL SEMI  &none
&none  &hold_tap_kp_kp LCTRL A  &hold_tap_kp_kp RCTRL R  &hold_tap_kp_kp LCTRL S  &hold_tap_mo_kp 3 T      &hold_tap_kp_kp LCTRL G    &hold_tap_kp_kp LCTRL M  &hold_tap_kp_kp LCTRL N  &hold_tap_kp_kp LCTRL E      &hold_tap_kp_kp LCTRL I       &hold_tap_kp_kp LCTRL O     &none
&none  &hold_tap_kp_kp LCTRL Z  &hold_tap_kp_kp LCTRL X  &hold_tap_kp_kp LCTRL C  &hold_tap_kp_kp LCTRL D  &hold_tap_kp_kp LCTRL V    &hold_tap_kp_kp LCTRL K  &hold_tap_kp_kp LCTRL H  &hold_tap_kp_kp LCTRL COMMA  &hold_tap_kp_kp LCTRL PERIOD  &hold_tap_kp_kp LCTRL SQT   &none
                                                         &kp TAB                  &kp SPACE                &hold_tap_kp_kr LCTRL 0    &kp LEFT_SHIFT           &kp BACKSPACE            &kp ENTER
            >;
        };

        lower {
            bindings = <
&none  &none  &none  &none  &none  &none                   &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                   &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                   &none  &none  &none  &none  &none  &none
                     &none  &none  &hold_tap_tog_kr 2 0    &none  &none  &none
            >;
        };

        lower_lock {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        lower_temp {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        lock {
            if-layers = <2>;
            then-layer = <1>;
        };

        unlock {
            if-layers = <3>;
            then-layer = <1>;
        };
    };
};
